<template name="feedback">
	<div class="feedback">
		<div>
			<h3>Thank you</h3>
			<p>For taking the time and telling us how we can improve suitedconnected.com</p>
		</div>

		<form>
			<textarea name="feedback" id="feedback">{{input}}</textarea>
			<div class="text-right">
				<a href="#" class="btn btn-s btn-default js-close-feedback">Cancel</a>
				<a href="#" class="btn btn-s btn-dark js-submit">Send</a>
			</div>
		</form>

		<div class="trigger js-open-feedback"></div>
	</div>
</template>