<template name="landingPageCommunity">
	<div class="landing-page-community">
		<div class="top-floater">

			<div class="container">
				<div class="get-started js-animate-hover">
					<h4><a href="{{pathFor 'index'}}">Continue to suitedconnected</a></h4>
				</div>

				<div class="title">
					<h3>Your online poker community</h3>
					<div class="border"></div>
				</div>

				<div class="component">
					<div class="floater right">
						<div>
							<h4>Poker<span class="br"></span>Strategy<span class="br"></span>online</h4>
							<p>
								We know doing poker content is hard, but it doesn't have to be. With suitedconnected's unique features, we are striving to provide you the best and most convenient way to improve your poker game.
							</p>
						</div>
					</div>

					<div class="text-block-group">
						<div class="text-block left community">
							<h4>Community</h4>
							<p>
							Join SUITEDCONNECTED to become part of creating a modern poker study community.
							We strive to become the number one hub for qualitative poker content created by you, the user.
							Rely on our great community of poker interested minds to get the advice you need and then turn your newly learned strategies to profits at the tables.
							</p>
						</div>

						<div class="text-block left connected">
							<h4>Stay<span class="br"></span>connected</h4>
							<p>
								Have been away for a week? Instead of skipping through infinite skype conversations on the hunt for important content, just check out your suitedconnected study group pages and scroll from post to post.
							</p>
						</div>
					</div>
				</div>

				<div>
					<a href="{{pathFor 'index'}}" class="continue-btn-mobile btn btn-l btn-primary">Continue to suitedconnected</a>
				</div>

			</div>

		</div>

	</div>
</template>