<template name="landingPageNewsletter">
	<div class="landing-page-newsletter ">
		<div class="padder"></div>
		<div class="container">
			<div class="component">
				<h4>Join<span class="br"></span>the Beta</h4>
				<p>
					We are currently in beta and will implement new features on a daily basis to create a better learning atmosphere for you!
					Feel free to frequently use our feedback form located on the left of the webpage.
					Tell us your wishes and what we need to improve on, to help you get the most of your poker content!
					We are happy to hear from you! You can also shoot us an e-mail to <a href="mailto: feedback@suitedconnected.com">feedback@suitedconnected.com</a>!

				</p>
			</div>

			<div class="component totally-free">
				<h4>Suitedconnected<span class="br"></span>is 100% free</h4>
				<p>
					You are the ones creating all the awesome poker content!
					We are just giving you the platform to do so in the best way possible - and that for free!
				</p>
			</div>

			<div class="component" id="login-or-register">
				<h4>Stay<span class="br"></span>connected</h4>
				<p>Register now and get started immediately.</p>
				{{> Template.dynamic template=template}}
			</div>
		</div>
	</div>
</template>
