<template name="landingPageFeatures">
    <div class="landing-page-features">
        <div class="container">
            <div class="floater left">
                <div>
                    <h3 class="light no-underline">
                      The best way to improve is talk and exchange strategy!
                    </h3>
                </div>
            </div>

            <div class="component first">
                <img src="/img/landing/compass_needle.svg" alt="compass-needle" class="compass-needle js-face-direction">

                <div class="text-block left easy-handhistories">
                    <div class="headline">
                        <h4>Convert<span class="br"></span>Handhistories</h4>
                        <img src="/img/icons/handhistory.svg" alt="easy-handhistories">
                    </div>
                    <p>
                        We got it all in one place! Convert your raw hand histories directly to our beatiful format when creating your post. No more loading time and only a single step is required to finally see your converted handhistory. We want you to focus on the important
                        part: your content!
                    </p>
                </div>
                <div class="text-block right study-groups">
                    <div class="headline">
                        <h4>Private Study<span class="br"></span>Groups</h4>
                        <img src="/img/icons/groups.svg" alt="study-groups">
                    </div>
                    <p>
                        Tired of using a bunch of tools and messy instant messaging chats to study in your existing study group? In our truly private and off the grid groups you can create and manage your secret
                        empire of high level poker content without your opponents "spying" on you. You are not yet a member of a poker study group? Find like minded poker brains amongst our community in the public feed and create a new private group!
                    </p>
                </div>
                <div class="text-block left spot-specific">
                    <div class="headline">
                        <h4>Spot<span class="br"></span>specific<span class="br"></span>analysis</h4>
                        <img src="/img/icons/spot.svg" alt="spot-specific-analysis">
                    </div>
                    <p>
                        Get input for any spot you can imagine through our unique filter- and tagging-system! Filter your whole feed to a specific spot and browse through how our community members
                        played in the exact same constellation. To give you the best learning experience possible, we also invented the quick navigation to go through all the results of your filter in an ease. Next hand please!
                    </p>
                    <div class="show-on-hover">
                        <span class="tag">BUvsBB</span>
                        <span class="tag tag-selectable selected">overbet</span>
                        <span class="tag">bluffcatcher</span>
                    </div>
                </div>
                <div class="text-block right ranges">
                    <div class="headline">
                        <h4>Ranges</h4>
                        <img src="/img/icons/ranges.svg" alt="ranges">
                    </div>
                    <p>
                        Don't limit yourself to only getting feedback on how to play with aces. Add range pop-ups to your handhistories and get strategic advice from our community on how to play the spot as a whole! We give you the opportunity to add complex ranges for every
                        node in the gametree.
                    </p>
                </div>
            </div>

            <div class="component">
                <div class="text-block right one-place">
                    <h2 class="no-underline">&#10095;&#10095; All Your Online Poker Strategy in one place &#10094;&#10094;</h2>
                </div>
                <!--
				-->
                <div class="text-block left all-devices">
                    <div class="headline">
                        <h4>Designed<span class="br"></span>for all devices</h4>
                        <img src="/img/icons/devices.svg" alt="designed-for-all-devices">
                    </div>
                    <p>
                        Are you spending too much time commuting every day and not having access to learning the game you love? We designed suitedconnected to run smooth on every device, so that you can use all our features whilst not at home and still get the content you need
                        to improve!
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
