<template name="landingPageNews">
	<div class="landing-page-news">
		<div class="padder"></div>
		<div class="container">
			<div class="title">
				<h3>suitedconnected<span class="br"></span>news</h3>
			</div>

			<div class="component">
				<p class="date">posted by suitedconnected on April 22nd 2016</p>
				<h4>Poker content on the go</h4>
				<p>
					She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then
				</p>
			</div>

			<div class="component">
				<p class="date">posted by suitedconnected on April 22nd 2016</p>
				<h4>Poker content on the go</h4>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>

			<div class="component">
				<p class="date">posted by suitedconnected on April 22nd 2016</p>
				<h4>Poker content on the go</h4>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
		</div>
	</div>
</template>