<template name="sidebar">
  <div class="sidebar-element">
    <h4>suitedconnected</h4>
    <p>
      Welcome to SUITEDCONNECTED.com. Enjoy your stay, while you discuss secret strategies in your private groups
      or share your poker thoughts with the community in our public section.
    </p>
  </div>

  {{> deals}}
</template>

<template name="deals">
  <div class="sidebar-element">
    <h4>Partners</h4>
    <p>
      While we are working out software and rakeback deal offers,
      make sure to check out our partner's products.
    </p>
    <a href="http://www.need-4-seat.com/" target="_blank" class="deal-banner">
      <img src="/img/deals/need4seat.png">
    </a>
    <a href="http://www.pokerranger.net/" target="_blank" class="deal-banner">
      <img src="/img/deals/pokerranger.png">
    </a>
  </div>
</template>