<template name="changePassword">
    <form id="change-password-form">
        <div class="form-row">
             <div class="form-group span">
                <label for="password">New password</label>
                <input type="password" autocomplete="off" name="password" id="password" placeholder="">
            </div>
            <div class="form-group span">
                <label for="password-confirm">Confirm password</label>
                <input type="password" autocomplete="off" name="password-confirm" id="password-confirm" placeholder="">
            </div> 
            <div class="form-group">
                <input type="submit" name="submit" id="save-password" value="Save" class="btn btn-primary">                 
            </div>
        </div>
        <p class="help-block {{errorClass 'change-password'}}">{{errorMessage 'change-password'}}</p>
        {{#if instance.state.get 'passwordChanged'}}
            <p class="success animated fadeIn">Your password has been changed successfully.</p>
        {{/if}}
    </form> 
</template>