<template name="forgotPassword">
	<div class="forgot-password">
    <form id="forgot-password-form">
        <div class="{{errorClass 'email'}}">
        	<div class="input-addon">
        		<span class="input-addon-item"><img src="/img/icons/email.svg" alt="Email"></span>
            <input type="text" class="input-addon-field" name="email" id="email-reset" placeholder="Enter your email address...">
          </div>
          <p class="help-block">{{errorMessage 'email'}}</p>
        </div>
        <p class="help-block {{errorClass 'login'}}">{{errorMessage 'forgotPassword'}}</p>

				<input type="button" value="Login" class="btn btn-default js-show-login"><!--
        --><input type="submit" value="Retrieve" class="btn btn-primary">
    </form>
	</div>
</template>