/* Html and Body */
html {
  overflow-y: hidden;
}
html,
body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    // font-size: 12px !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  transition: transform .25s ease-in-out;
}
html.no-scroll, html.no-scroll-mobile {
  overflow-y: hidden;
  body {
    overflow-y: hidden;
    position: fixed; // prevent overscrolling on iOS
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
@include respond-to('small') {
  html.no-scroll-mobile {
    overflow-y: visible;
    body {
      overflow-y: scroll;
      position: relative;
    }
  }
}
/* Box Sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@include respond-to('small') {
    body {
        background-image: url('/img/backgrounds/background.png');
        background-size: cover;
        background-position: center 0;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}


/* Outmost container */
.layout-container {
    height: 100%;
    @include responsive-property(width, $container-width);
    max-width: 100%;
    margin: auto;
    padding: 0;
}

/* Outer Container */
.main-container {
    background-color: $color-shade;
    min-height: 100%;
    @include responsive-property(width, $main-container-width);
    margin: 0;
}

.side-container {
    @include font-size(10px);
    margin: 0;
    padding: 0;
    background-color: rgba($color-shade, 0.5);
    display: none;
    @include responsive-property(width, $side-container-width);

    @include respond-to('xsmall') {
        & {
            @include font-size(12px);
        }
    }
    @include respond-to('large') {
        & {
            @include font-size(14px);
        }
    }
    .secondary-navigation-container {
      @include center();
      background-color: rgba(0,0,0,0) !important;
      h1, h2, h3, h4, h5, h6 {
        color: $color-dark2;
      }
    }
}


.main-container,
.side-container {
    /*needed, so that we can place elements without margin using position:absolute */
    position: relative;

    @include respond-to('small') {
        & {
            vertical-align: top;
            display: inline-block;
        }
    }
}


/* Inner Container */
.main-inner-container,
.side-inner-container {
    margin: 0 auto;
    padding: $navigation-height-small 0 50px 0;
    @include respond-to('xsmall') {
        & {
            padding: $secondary-navigation-height 0 50px 0;
        }
    }
    @include respond-to('small') {
        & {
            padding: $total-navigation-height 0 50px 0;
        }
    }
}

.main-inner-container {
    @include responsive-property(width, $main-content-width);
    max-width: 500px;

    @include respond-to('xsmall') {
        & {
            max-width: none;
        }
    }
    @include respond-to('small') {
        & {
            padding: $total-navigation-height 0 50px 0;
        }
    }
}
.content-margin-top {
    margin-top: 15px;
    @include respond-to('xsmall') {
        margin-top: 30px;
    }
    @include respond-to('medium') {
        margin-top: 45px;
    }
}
.side-inner-container {
    @include responsive-property(width, $side-content-width);

    .sidebar-title {
      height: $secondary-navigation-height;
      @include center();
    }
}

/* Navigation */
.header-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: z('navigation');
  padding: 0;
  margin: 0;
}
.header-background {
  display: none;

  @include respond-to('small') {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    .secondary-navigation-container {
      display: inline-block;
      width: 50%;
    }
  }
}
.primary-navigation-container {
  display: none;
  @include respond-to('small') {
    display: block;
    background-color: $color-dark2;
    height: $primary-navigation-height;
  }

  .spinner-container {
    height: $primary-navigation-height;
    width: 100%;
    @include center();
  }
}
.primary-navigation-container-main,
.secondary-navigation-container-main {
  @include respond-to('small') {
    padding-right: 120px;
  }
}
.primary-navigation-container-main {
  position: relative;
  overflow: visible;
}
#logo {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  padding: 25px;
  background-color: rgba($color-dark2, 1);
  img {
    width: 100%;
    height: 100%;
  }
  // &:after {
  //   content:'';
  //   position: absolute;
  //   top: 100%;
  //   left: 50%;
  //   margin-left: -61px;
  //   width: 0;
  //   height: 0;
  //   border-top: solid 35px  $color-dark2;
  //   border-left: solid 61px transparent;
  //   border-right: solid 61px transparent;
  // }
}
.secondary-navigation-container {
  height: $navigation-height-small;
  background-color: $color-highlight;

  @include respond-to('xsmall') {
    height: $secondary-navigation-height;
    background-color: $color-highlight;
  }
}

/* Navigation Links */
.primary-navigation {
  width: 100%;
  height: 100%;

/* OPTION A: Give min width to dropdown */
  // .navigation-element .dropdown-content {
  //   min-width: 200px;
  //   right: 0;
  //   left: auto;
  //   border-top: 2px solid $color-highlight;
  // }
/* OPTION B: Hide thumbnails */
  .thumbnail-element .thumbnail-element-img {
    display: none;
    @include respond-to('medium') {
      display: inline-block;
    }
  }
}
.navigation-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation-element {
  display: block;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;

  .navigation-link {
    display: block;
    height: 100%;
    @include center();
    color: $color-light;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'DinPro Medium';

    &:hover, &.active {
      background-color: $color-highlight;
    }
  }
  .navigation-icon {
    display: none;

    @include respond-to('medium') {
      display: inline-block;
      margin-right: 5px;
      width: 30px;
      height: 30px;
    }
  }
}

.visible .navigation-link {
  background-color: $color-highlight;
}
.secondary-navigation {
  width: 100%;
  height: 100%;
  padding: 0 0 0 10px;
  padding-top: 0.02px; // to prevent margin collapse from input
  @include center();

  .tag-input {
    border-radius: 10px;
    border: 0;
    // padding: 5px 14px;
    .suggestions {
      margin-top: 2px;
      border-radius: 10px;
      border: 0px;
      overflow: hidden;
      // border: 1px solid $color-shade;
    }
  }
  @include respond-to('xsmall') {
    & {
      padding: 0 0 0 10px;
    }
  }
  @include respond-to('small') {
    & {
      padding: 0 10px 0 map-get($main-margin, 'small');
    }
  }
  @include respond-to('medium') {
    & {
      padding: 0 10px 0 map-get($main-margin, 'medium');
    }
  }
  @include respond-to('large') {
    & {
      padding: 0 10px 0 map-get($main-margin, 'large');
    }
  }
}

.paragraph {
  margin-bottom: 25px;
  @include respond-to('small') {
    margin-bottom: 40px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}


/* Mobile menu */
#mobile-menu-trigger {
  display: block;
  height: $navigation-height-small;
  width: $navigation-height-small;
  padding: 6px;
  background-color: $color-dark2;
  margin-left: 10px;
  flex-grow: 0;
  flex-shrink: 0;

  img {
    height: 100%;
    width: 100%;
    opacity: 0.75;
  }

  &:hover {
    img {
      opacity: 1;
    }
  }
  @include respond-to('xsmall') {
    height: $secondary-navigation-height;
    width: $secondary-navigation-height;
    padding: 10px;
  }
  @include respond-to('small') {
    display: none;
  }
}