.mobile-overlay,
.mobile-menu {
    display: none;
}
#mobile-post-buttons {
    display: none;
}
@media screen and (max-width: map-get($breakpoint-thresholds, 'small') - 1px) {
    #mobile-post-buttons {
        z-index: z('modal');
        display: inline-block;
        position: fixed;
        bottom: 6px;
        right: 6px;

        .btn {
            width: 42px;
            height: 42px;
            @include respond-to('xsmall') {
                width: 54px;
                height: 54px;
            }
            @include center();
            img {
                max-width: 100%;
                max-height: 100%;
            }
            margin: 5px;
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.35);
        }
    }
    .menu-open-transformation {
        transform: translateX(-240px);
    }
    .mobile-menu {
        position: fixed;
        left: 100%;
        top: 0;
        bottom: 0;
        width: 240px;
        z-index: z('modal') + 1;
        background-color: $color-dark2;
        transition: transform .25s ease-in-out;
        pointer-events: none;

        &.menu-open {
            box-shadow: 10px 0 30px 10px $color-dark2;
            pointer-events: all;
        }

        .menu-item {
            text-transform: uppercase;
        }
        .menu-item,
        .menu-sub-item {
            display: block;
            padding: 15px 15px;
            color: $color-light;
            letter-spacing: 2px;
            // font-family: 'DinPro Medium';
            &:hover, .selected {
                background-color: $color-highlight;
            }
            .navigation-icon {
                display: inline-block;
                vertical-align: middle;
                width: 25px;
                height: 25px;
                // margin-right: 5px;
            }
            .thumbnail-element-img {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .menu-item {
            @include font-size(14px);
        }
        .menu-sub-item {
            letter-spacing: 1px;
            padding: 10px 15px 10px 25px;
            background-color: lighten($color-dark2, 3%);
            color: $color-light;
        }
        .group-items {
            list-style: none;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                padding: 0;
                margin: 1px 0;

                a {
                    display: block;
                    padding: 5px 5px 5px 25px;
                    background-color: $color-shade;
                }
            }
        }
        .profile {
            padding: 15px;
            height: auto;
            .logout-btn {
                display: none;
            }
            .username {
                font-family: 'DinPro Medium';
                font-size: 160%;
            }
        }

        /** TABS **/
        .tabs {
            display: flex;
            width: 100%;
            height: 50px;
            background-color: $color-dark2;
            border-top: 2px solid $color-highlight;

            .tab {
                flex: 0 0 auto;
                @include center();
                height: 100%;
                width: 120px;
                background-color: $color-dark2;
                color: $color-light;
                @include font-size(24px);
                padding: 5px;

                &:hover, &.selected {
                    background-color: $color-highlight;
                }
                &.disabled {
                    opacity: 0.25;
                    background-color: $color-dark2;
                }
                img {
                    height: 20px;
                    width: auto;
                    pointer-events: none;
                }
            }
        }
    }
}
.vertical-container {
    position: fixed;
    display: flex;
    flex-direction: column;

    .vertical-container-row {
        flex: 0 0 auto;
        width: 100%;
        position: relative;

        &.span {
            flex-grow: 1;
        }
    }
}
.mobile-menu-content {
    background-color: $color-dark2;

    .notification-dropdown-content {
        min-height: 100%;
        height: 100%;
        background-color: $color-dark2;

        .checkable {
            // THIS IS A HACK. SOMEHOW THE CORRECT PADDING DOESNT WORK MOBILE
            padding-right: 35px !important;
        }

        .dropdown-head {
            padding-right: 10px;
        }
    }
}
.absolute-inner-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
.overlay {
    cursor: pointer;
    display: block;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-dark2, 0.75);
    z-index: z('modal');
    opacity: 0;
    transition: opacity .25s ease-in-out;

    &.overlay-visible {
        pointer-events: auto;
        opacity: 1;
    }
}

@include respond-to('small') {
    .mobile-overlay, .mobile-menu, .mobile-menu-tabs {
        display: none;
    }
}



